# API
fastapi
uvicorn[standard]

# Database
sqlmodel
asyncpg
alembic
cryptography

# Queue
arq
redis

# Automation
playwright

# Config / Auth
python-dotenv
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]

# HTTP
httpx